## **<span style="font-family:Avenir;">Product Competitor Analyzer</span>** 
---

**<span style="font-family:Avenir; font-size=12"> This system allows users to compare product prices on various ecommerce shops and perform some analysis on different measures such as price. The goal is to select the best prices for a product type from best e-commerce platforms around the world </span>**

###### **<span style="font-family:Avenir">IMPORTS</span>**

In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import re
import time
from datetime import datetime
import matplotlib.dates as mdates
import matplotlib.ticker as ticker
from urllib.request import urlopen
from bs4 import BeautifulSoup
import requests
import datetime as dt

#### **<span style="font-family:Avenir">STRUCTURE</span>**
---

**<span style="font-family:Avenir; font-size=12"> Categories </span>**
* <span style="font-family:Avenir; font-size=12"> Books </span> 
* <span style="font-family:Avenir; font-size=12"> Watches </span> 
* <span style="font-family:Avenir; font-size=12"> Games </span> 
* <span style="font-family:Avenir; font-size=12"> Office Products</span> 

**<span style="font-family:Avenir; font-size=12"> Data Fields/Levels </span>**
* <span style="font-family:Avenir; font-size=12"> Category </span> 
* <span style="font-family:Avenir; font-size=12"> Rating </span> 
* <span style="font-family:Avenir; font-size=12"> Customer Related </span> 
* <span style="font-family:Avenir; font-size=12"> Price </span>  

**<span style="font-family:Avenir; font-size=12"> Shops </span>**
* <span style="font-family:Avenir; font-size=12"> Amazon </span>
* <span style="font-family:Avenir; font-size=12"> Ebay </span>
* <span style="font-family:Avenir; font-size=12"> Walmart </span>

#### **<span style="font-family:Avenir">AMAZON SCRAPER</span>**
---

###### **<span style="font-family:Avenir">SRAPE PRODUCT INFO FROM E-COMMERCE SITE</span>**

In [22]:
# --> Function scrapes data from Amazon shop on products
headers = {'User-Agent' : 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/15.1 Safari/605.1.15',"Accept-Encoding":"gzip, deflate", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}    

#     https://www.amazon.in/gp/bestsellers/books/ref=zg_bs_pg_2?ie=UTF8&pg=2

def getAmazonData(category, page_no):
    r = requests.get('https://www.amazon.in/gp/bestsellers/'+str(category).lower()+'/ref=zg_bs_pg_'+str(page_no)+'?ie=UTF8&pg='+str(page_no), headers=headers)#, proxies=proxies)
    content = r.content
    soup = BeautifulSoup(content)

    dataset = []
    for d in soup.findAll('div', attrs={'id':'gridItemRoot'}): # Get Item Grid Data
       
        name = d.find('div', attrs={'class':'a-section a-spacing-mini _cDEzb_noop_3Xbw5'})
        product_name = name.find_all('img', alt=True) # Get Product Names
        
        rating = d.find('span', attrs={'class':'a-icon-alt'}) # Get Product Ratings
       
        price = d.find('span', attrs={'class':'_cDEzb_p13n-sc-price_3mJ9Z'}) # Get Product Price
        data = []
        if name is not None: # Append Name Data
            data.append(product_name[0]['alt'])
        else:
            data.append("unknown-product") 
        if rating is not None: # Append Rating Data
            data.append(rating.text)
        else:
            data.append('-1')
        if price is not None: # Append Price Data
            data.append(price.text)
        else:
            data.append('0')
        dataset.append(data)
        
    return dataset

###### **<span style="font-family:Avenir">BUILD DATASET FROM SCRAPED AMAZON DATA</span>**

In [23]:
def generateAmazonProductDataset(num_pages, category):
    results = []
    for i in range(1, num_pages + 1):
        results.append(getAmazonData(category,i))
    
    flatten = lambda l: [item for sublist in l for item in sublist]
    df = pd.DataFrame(flatten(results),columns=['Product Name','Rating','Price'])
    df['Shop'] = "amazon"
    df['Category'] = category
    df.to_csv('amazon_'+category+'_products.csv', index=False, encoding='utf-8')
    return df

amazon_books = generateAmazonProductDataset(2,"books")
amazon_books.head()

,Product Name,Rating,Price,Shop,Category
0,The Psychology of Money,4.6 out of 5 stars,₹321.00,amazon,books
1,Word Power Made Easy,4.4 out of 5 stars,₹98.00,amazon,books
2,Grandma's Bag of Stories: Collection of 20+ Il...,4.6 out of 5 stars,₹155.00,amazon,books
3,The India Way: Strategies for an Uncertain World,4.5 out of 5 stars,₹454.00,amazon,books
4,Rich Dad Poor Dad: What the Rich Teach Their K...,4.6 out of 5 stars,₹372.00,amazon,books

#### **<span style="font-family:Avenir">EBAY SCRAPER</span>**
---

###### **<span style="font-family:Avenir">SRAPE PRODUCT INFO FROM E-COMMERCE SITE</span>**

In [4]:
import re
def getEbayData(category, page_no):
    content = requests.get('https://www.ebay.ca/sch/i.html?_from=R40&_nkw='+str(category).lower()+'&_sacat=0&LH_TitleDesc=0&_pgn='+str(page_no)).text
    soup = BeautifulSoup(content)
    item_name = []
    prices = []
    listings = soup.find_all('li', attrs={'class': 's-item'})
    
    dataset = []
    for listing in listings:
        name = listing.find('h3', attrs={'class':"s-item__title"}) # Get Product Names
        rating = listing.find('div', attrs={'class':"x-star-rating"}) # Get Product Ratings
        price = listing.find('span', attrs={'class':"s-item__price"}) # Get Product Price
        data = []

        if name is not None:
            data.append(name.text)
        else:
            data.append("unknown-product")
        if rating is not None:
            data.append(rating.text)
        else:
            data.append('-1')
        if price is not None:
            data.append(price.text)
        else:
            data.append('0')
        dataset.append(data)    
    return dataset

###### **<span style="font-family:Avenir">BUILD DATASET FROM SCRAPED EBAY DATA</span>**

In [5]:
def generateEbayProductDataset(num_pages, category):
    results = []
    for i in range(1, num_pages + 1):
        results.append(getEbayData(category,i))
    
    flatten = lambda l: [item for sublist in l for item in sublist]
    df = pd.DataFrame(flatten(results),columns=['Product Name','Rating','Price'])
    df['Shop'] = "ebay"
    df['Category'] = category
    df.to_csv('ebay_'+category+'_products.csv', index=False, encoding='utf-8')
    return df

ebay_books = generateEbayProductDataset(2,"books")
ebay_books.head()

,Product Name,Rating,Price,Shop,Category
0,Shop on eBay,-1,$20.00,ebay,books
1,"November 9: A Novel - Paperback By Hoover, Col...",-1,C $14.26,ebay,books
2,Ugly Love: A Novel by Colleen Hoover (English)...,5.0 out of 5 stars.,C $12.99,ebay,books
3,The lost book of herbal remedies by claude Dav...,-1,C $12.61,ebay,books
4,The Country Diary Of An Edwardian Lady By Edit...,5.0 out of 5 stars.,C $15.35,ebay,books

#### **<span style="font-family:Avenir">WALMART SCRAPER</span>**
---

In [ ]:
from selenium import webdriver

class WalmartScraper:

def__init__(self):
self.PATH = "chromedriver.exe"
self.driver = webdriver.Chrome(self.PATH)
self.products = []

defget_products(self, url):
self.driver.get(url)
# Parse data out of the page
products_html = self.driver.find_elements_by_class_name("search-gridview-last-col-item")
for item in products_html:
            item = item.find_element_by_class_name("product-title-link").text
self.products.append(item)

search_strings = ["https://www.walmart.com/search/?query=rechargeable%20batteries",]
scraper = WalmartScraper()
for urlin search_strings:
scraper.get_products(url)
print(WalmartScraper.products)

#### **<span style="font-family:Avenir">DATA CLEANING AND PROCESSING</span>**
---

###### **<span style="font-family:Avenir">CLEAN & PREPROCESS AMAZON</span>**

In [6]:
def preProcessAmazon(df):
    df['Rating'] = df['Rating'].apply(lambda x: x.split()[0])
    df['Rating'] = pd.to_numeric(df['Rating'])
    df["Price"] = df["Price"].str.replace('₹', '')
    df["Price"] = df["Price"].str.replace(',', '')
    df['Price'] = df['Price'].apply(lambda x: x.split('.')[0])
    df['Price'] = df['Price'].astype(int)
    df.replace(str(0), np.nan, inplace=True)
    df.replace(0, np.nan, inplace=True)
    df = df.dropna()
    return df

amazon_books = preProcessAmazon(amazon_books)
amazon_books.head()

,Product Name,Rating,Price,Shop,Category
0,The Psychology of Money,4.6,321.0,amazon,books
1,Word Power Made Easy,4.4,98.0,amazon,books
2,Grandma's Bag of Stories: Collection of 20+ Il...,4.6,155.0,amazon,books
3,The India Way: Strategies for an Uncertain World,4.5,454.0,amazon,books
4,Rich Dad Poor Dad: What the Rich Teach Their K...,4.6,372.0,amazon,books

###### **<span style="font-family:Avenir">CLEAN & PREPROCESS EBAY</span>**

In [7]:
def preProcessEbay(df):
    df['Rating'] = df['Rating'].apply(lambda x: x.split()[0])
    df['Rating'] = pd.to_numeric(df['Rating'])
    df["Price"] = df["Price"].str.replace('C', '')
    df["Price"] = df["Price"].str.replace('$', '',regex=False)
    df["Price"] = df["Price"].str.replace(',', '')
    df['Price'] = df['Price'].apply(lambda x: x.split('.')[0])
    df['Price'] = df['Price'].astype(int)
    df.replace(str(0), np.nan, inplace=True)
    df.replace(0, np.nan, inplace=True)
    df = df.dropna()
    return df

ebay_books = preProcessEbay(ebay_books)
ebay_books.head()

,Product Name,Rating,Price,Shop,Category
0,Shop on eBay,-1.0,20,ebay,books
1,"November 9: A Novel - Paperback By Hoover, Col...",-1.0,14,ebay,books
2,Ugly Love: A Novel by Colleen Hoover (English)...,5.0,12,ebay,books
3,The lost book of herbal remedies by claude Dav...,-1.0,12,ebay,books
4,The Country Diary Of An Edwardian Lady By Edit...,5.0,15,ebay,books

###### **<span style="font-family:Avenir"> MERGE DATASETS </span>**

In [8]:
frames = [amazon_books, ebay_books]
books_dataset = pd.concat(frames)
books_dataset['date'] = dt.datetime.now()
books_dataset.to_csv('books_dataset.csv', index=False, encoding='utf-8')
books_dataset.head()

,Product Name,Rating,Price,Shop,Category,date
0,The Psychology of Money,4.6,321.0,amazon,books,2022-04-20 22:07:22.585812
1,Word Power Made Easy,4.4,98.0,amazon,books,2022-04-20 22:07:22.585812
2,Grandma's Bag of Stories: Collection of 20+ Il...,4.6,155.0,amazon,books,2022-04-20 22:07:22.585812
3,The India Way: Strategies for an Uncertain World,4.5,454.0,amazon,books,2022-04-20 22:07:22.585812
4,Rich Dad Poor Dad: What the Rich Teach Their K...,4.6,372.0,amazon,books,2022-04-20 22:07:22.585812

In [9]:
books_dataset.tail()

,Product Name,Rating,Price,Shop,Category,date
146,New ListingVINTAGE SHERLOCK HOLMES LOT ~ STUDY...,-1.0,49.0,ebay,books,2022-04-19 00:06:56.214460
147,I'm Thinking of Ending Things by Reid New 978...,-1.0,20.0,ebay,books,2022-04-19 00:06:56.214460
148,Kong: Skull Island - The Official Movie Noveli...,5.0,6.0,ebay,books,2022-04-19 00:06:56.214460
149,A Simple Murder: A Kate Burkholder Short Story...,-1.0,7.0,ebay,books,2022-04-19 00:06:56.214460
150,Your Body can Heal Itself: Over 87 Foods Every...,4.0,4.0,ebay,books,2022-04-19 00:06:56.214460

#### **<span style="font-family:Avenir">PRODUCT ANALYZER</span>**
---

###### **<span style="font-family:Avenir"> APPLICATION </span>**

In [61]:
# --> Choose Product Category to Analyze for
# --> Choose Number of Pages
# --> Generate Dataset for Amazon
# --> Clean Data for Amazon
# --> Generate Dataset for Ebay
# --> Clean for Ebay
# --> Merget Datasets

In [60]:
%%writefile app.py
import streamlit as st
import pandas as pd
st.title("Product Competitor Analyzer")
st.write("This app scrapes and gathers datasets on selected products into a database and performs analyses")

form = st.form(key='my-form')
name = form.text_input('Enter your Company Name')
shops = form.multiselect("Choose Shops",["Amazon", "Ebay",  "Walmart", "OnBuy"])
product_type = form.selectbox('Select Product Type', ['jacket','laptops','books', 'video games', 'watches','shoes','cups','shirts'], key=1) # lowercase
num_pages = int(form.number_input('Enter the number of pages to crawl'))

submit = form.form_submit_button('Gather Data')


if submit:
    st.write(f'Welcome {name}')
    st.write(f'You have selected data on {product_type} to be scraped from the ff shops {shops}')
 
    
    f = open("stream-inputs.txt", "w")
    f.write(str(name)+ "," +str(num_pages)+ "," + str(shops) + "," + str(product_type))
    f.close()
    
    data = pd.read_csv("amazon_"+product_type+"_products.csv")
    st.dataframe(data)
    
# view_data = st.button('View Data')  
# if view_data:
#     amazon_data = generateAmazonProductDataset(num_pages,str(product_type).lower())
#     st.dataframe(amazon_data)

Overwriting app.py

In [58]:
f = open("stream-inputs.txt", "r")
data = f.readline().rstrip()
# ['Medi Foods Ltd', 1, ['Amazon', 'Ebay'], 'books']

data = data.split(',')
amazon_data = generateAmazonProductDataset(int(data[1]),data[4])
amazon_data.head()

,Product Name,Rating,Price,Shop,Category
0,Fire-Boltt Ring Bluetooth Calling Smartwatch w...,4.0 out of 5 stars,"₹4,799.00",amazon,watches
1,Goldenize Fashion New Kids Digital Date and Ti...,3.6 out of 5 stars,₹298.00,amazon,watches
2,Fastrack Analog Black Dial Unisex-Adult Watch-...,4.3 out of 5 stars,₹850.00,amazon,watches
3,Amazfit GTS2 Mini Smart Watch with 3.94 cm (1....,4.2 out of 5 stars,"₹5,998.00",amazon,watches
4,"Panasonic Photo Lithium Battery CR123AW, Pack ...",4.4 out of 5 stars,₹175.00,amazon,watches

###### **<span style="font-family:Avenir"> ANALYSIS </span>**

###### **<span style="font-family:Avenir"> PREPARE DATA </span>**

In [10]:
def sortByPrice(df):
    data = df.sort_values(["Price"], axis=0, ascending=True)[:15]
    return data

def sortByRating(df):
    data = df.sort_values(["Rating"], axis=0, ascending=False)[:15]
    return data

###### **<span style="font-family:Avenir"> SORT BY PRICE</span>**

In [17]:
sortedPrice = sortByPrice(books_dataset)
sortedPrice.head()

,Product Name,Rating,Price,Shop,Category,date
50,"Shivers Books by M. D. Spenser (1997-1998, Pet...",-1.0,3.0,ebay,books,2022-04-18 22:36:43.081361
125,Proof of Heaven: A Neurosurgeon's Journey into...,5.0,4.0,ebay,books,2022-04-18 22:36:43.081361
62,Out stealing horses by Per Petterson (Paperbac...,4.5,4.0,ebay,books,2022-04-18 22:36:43.081361
49,The Doctor's Book of Home Remedies: Thousands ...,4.5,4.0,ebay,books,2022-04-18 22:36:43.081361
32,"My Struggle: Book 1 - Paperback By Knausgaard,...",4.5,4.0,ebay,books,2022-04-18 22:36:43.081361

###### **<span style="font-family:Avenir"> SORT BY RATING</span>**

In [18]:
sortedRating = sortByRating(books_dataset)
sortedRating.head()

,Product Name,Rating,Price,Shop,Category,date
149,"Hawaii - Paperback By Michener, James A. - GOOD",5.0,34.0,ebay,books,2022-04-18 22:36:43.081361
93,The Last Olympian (Percy Jackson and the Olymp...,5.0,5.0,ebay,books,2022-04-18 22:36:43.081361
88,"Eclipse (The Twilight Saga, Book 3) by Meyer, ...",5.0,5.0,ebay,books,2022-04-18 22:36:43.081361
85,Harry Potter Books 1-7 Special Edition Boxset ...,5.0,78.0,ebay,books,2022-04-18 22:36:43.081361
84,Peterson Field Guide to Mammals of North Ameri...,5.0,14.0,ebay,books,2022-04-18 22:36:43.081361

#### **<span style="font-family:Avenir">DATA WAREHOUSE</span>**
---

###### **<span style="font-family:Avenir"> STORE DATASETS TOGETHER WITH TIME INFORMATION </span>**

In [11]:
import sqlalchemy as sa

# --> Establish a connection between our postgress warehouse database
conn = "postgresql://jojoeainoo:jojoeainoo@localhost:5432/product-competitor-db"
engine = sa.create_engine(conn)
engine

Engine(postgresql://jojoeainoo:***@localhost:5432/product-competitor-db)

In [12]:
# --> Users table
def createDatabase(filename, tablename):
    with open(filename, 'r') as file:
        df = pd.read_csv(file)
    df.to_sql(tablename, con=engine, index=False, if_exists='replace')
    table = pd.read_sql(tablename, conn)
    return table

In [13]:
books_db = createDatabase('books_dataset.csv', 'fact_table')
books_db.head()

,Product Name,Rating,Price,Shop,Category,date
0,The Psychology of Money,4.6,321.0,amazon,books,2022-04-20 22:07:22.585812
1,Word Power Made Easy,4.4,98.0,amazon,books,2022-04-20 22:07:22.585812
2,Grandma's Bag of Stories: Collection of 20+ Il...,4.6,155.0,amazon,books,2022-04-20 22:07:22.585812
3,The India Way: Strategies for an Uncertain World,4.5,454.0,amazon,books,2022-04-20 22:07:22.585812
4,Rich Dad Poor Dad: What the Rich Teach Their K...,4.6,372.0,amazon,books,2022-04-20 22:07:22.585812

#### **<span style="font-family:Avenir">QUERIES</span>**
---

#### **<span style="font-family:Avenir">VISUALIZATION</span>**
---

###### **<span style="font-family:Avenir"> PREPARE VISUALIZATION </span>**

In [14]:
import atoti as tt
session = tt.Session(name="Product Analyzer")
vp_table = session.read_pandas(books_db , keys=["Product Name","date","Shop","Category"], table_name="Products")

Deleting existing "Product Analyzer" session to create the new one.

In [15]:
cube = session.create_cube(vp_table)
h = cube.hierarchies
l = cube.levels
l

Levels()

In [16]:
m = cube.measures
m

Measures()

###### **<span style="font-family:Avenir"> OLAP OPERATIONS FOR ANALYSIS </span>**

In [17]:
# --> Shop Level Slice
cube.query(m["Price.SUM"], levels=[l["Shop"]])

        Price.SUM
Shop
amazon  17,947.00
ebay     4,940.00

In [18]:
# --> Dice along two different axis (Date, Category)
cube.query(m["Price.SUM"], levels=[l["date"], l["Category"]]).head()

                                     Price.SUM
date                       Category
2022-04-20 22:07:22.585812 books       22887.0

###### **<span style="font-family:Avenir"> VISUALIZE </span>**

In [19]:
session.visualize()

Open the notebook in JupyterLab with the atoti extension enabled to build this widget.

In [21]:
session.link()

Open the notebook in JupyterLab with the atoti extension enabled to see this link.